:root {
  --main-color: #3b007f;
  --secondary-color: #22eaaa;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/assets/fonts/Gilroy-Light.woff2') format('woff2'),
    url('/public/assets/fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/assets/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('/public/assets/fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: var(--main-color);
  color: white;
  font-family: 'Gilroy', system-ui, sans-serif;
}

.logo {
  display: inline-block;
  box-sizing: border-box;
  font-size: 10rem;
}

.logo h1,
.logo svg {
  display: inline-block;
  vertical-align: middle;
}

.logo h1 {
  margin: 0;
  padding: 0;
  margin-left: 0.4em;
  font-size: 0.8em;
}
