:root {
  --main-color: #3b007f;
  --main-color-dark: #24124d;
  --secondary-color: #22eaaa;
  --note-color: #fff0cc;
  --main-width: 1280px;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/assets/fonts/BrandonGrotesque-Regular.eot');
  src: url('/assets/fonts/BrandonGrotesque-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/BrandonGrotesque-Regular.woff') format('woff'),
    url('/assets/fonts/BrandonGrotesque-Regular.ttf##{Brandon Grotesque}')
      format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/assets/fonts/BrandonGrotesque-Bold.eot');
  src: url('/assets/fonts/BrandonGrotesque-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/BrandonGrotesque-Bold.woff') format('woff'),
    url('/assets/fonts/BrandonGrotesque-Bold.ttf##{Brandon Grotesque}')
      format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Brandon Grotesque', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  letter-spacing: 0.025rem;
  font-size: 3.5em;
  margin: 0;
  color: var(--main-color-dark);
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  letter-spacing: 0.025rem;
  font-size: 2.8em;
  margin: 0;
  color: var(--main-color-dark);
  margin-bottom: 0.75em;
}

h3 {
  font-weight: 900;
  letter-spacing: 0.025rem;
  font-size: 1.8em;
  margin: 0;
  color: var(--main-color-dark);
  margin-bottom: 0.25em;
}

@media (max-width: 32em) {
  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.2em;
  }
}
